<%- include('../../partials/header') %>
<%- include('../../partials/navigation') %>

<div class="container">

  <div class="card">

    <h2>Ajouter Auteur</h2>

    <form method="POST" action="/auteurs/ajouter" class="form">

      <label>Nom</label>
      <input type="text" name="nom" required>

      <label>Prénom</label>
      <input type="text" name="prenom" required>

      <label>Email</label>
      <input type="email" name="email" required>

      <button class="btn btn-primary">Ajouter</button>

    </form>

  </div>

</div>

<%- include('../../partials/footer') %>